// header 

$headerBP1: 1200px;
$headerBP2: 730px;

//hero 

$heroBP1: 1250px;
$heroBP2: 970px;
$heroBP3: 730px;
$heroBP4: 600px;
$heroBP5: 500px;
$heroBP6: 380px;

// abour 

$aboutBP1: 890px;
$aboutBP2: 700px;
$aboutBP3: 550px;

//friends 

$friendsBP1: 1200px;
$friendsBP2: 1020px;
$friendsBP3: 760px;
$friendsBP4: 470px;

//shelter

$shelterBP1: 1000px;
$shelterBP2: 640px;
$shelterBP3: 430px;


