@import "./var";
@import "./mixin";
@import "./header/header";
@import "./header/header-media";
@import "./hero/hero";
@import "./hero/hero-media";
@import "./about/about";
@import "./about/about-media";
@import "./friends/friends";
@import "./friends/friends-media";
@import './shelter/shelter';
@import './shelter/shelter-media';


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a {
    text-decoration: none;
}
li {
    list-style-type: none;
}
.container {
    max-width: 1170px;
    margin: 0 auto;
}
.head-text {
    font-family: "Georgia";
    font-size: 35px;
    color: #545454;
    font-weight: 300;
    line-height: 40px;
}