.hero {
    background-image: url(../img/main-img.png);
    .hero-block {
        min-height: 820px;
        padding: 255px 0 270px;
        @include flex(space-between, center, center);
        &__img {
            width: 250px;
            display: none;
        }
        .hero-content {
            &__main-text {
                font-size: 44px;
                color: white;
                font-family: "Georgia";
                font-weight: 200;
                margin-bottom: 40px;
            }
            &__descr {
                max-width: 450px;
                font-family: Arial, Helvetica, sans-serif;
                font-size: 15px;
                color: white;
                line-height: 24px;
                margin-bottom: 40px;
            }
        }
        .button {
            @include flex();
            width: 205px;
            height: 50px;
            font-size: 17px;
            font-family: "Georgia";
            background-color: #f1cdb3;
            border: #f1cdb3;
            border-radius: 50px;
            &__text {
                color: black;
            }
        }
    }
}